## Programatically write SQL Statements to fill NULL values

Using Jinja2 package to programatically write SQL case statements to fill na values

In [1]:
import json
from jinja2 import Template, FileSystemLoader, Environment
import sqlparse
import string

file_loader = FileSystemLoader('templates')
env = Environment(loader=file_loader)

In [2]:
dates = [('2018-01-01','2018-01-30'),
        ('2018-02-01','2018-02-30'),
        ('2018-03-01','2018-03-30')]

In [3]:
template = env.get_template('date_aggregates_union.sql')
query = template.render(dates=dates)

In [4]:
pretty_sql = sqlparse.format(query,
                reindent=True, 
                keyword_case='upper', 
                encoding='utf-8')

print(pretty_sql)

SELECT COUNT(id) AS number_active_accounts,
       department AS department,
       2018-01-30 AS timeperiod
FROM TABLE
WHERE ((start_date < 2018-01-30)
  AND ((isnull(end_date)
        OR (end_date > 2018-01-01))
       AND (COLUMN = value))
GROUP BY department
UNION
SELECT COUNT(id) AS number_active_accounts,
       department AS department,
       2018-02-30 AS timeperiod
FROM TABLE
WHERE ((start_date < 2018-02-30)
  AND ((isnull(end_date)
        OR (end_date > 2018-02-01))
       AND (COLUMN = value))
GROUP BY department
UNION
SELECT COUNT(id) AS number_active_accounts,
       department AS department,
       2018-03-30 AS timeperiod
FROM TABLE
WHERE ((start_date < 2018-03-30)
  AND ((isnull(end_date)
        OR (end_date > 2018-03-01))
       AND (COLUMN = value))
GROUP BY department
UNION