## Programatically write SQL Statements to fill NULL values

Using Jinja2 package to programatically write SQL case statements to fill na values.

Inspired by Stitchfix Engineering article: https://multithreaded.stitchfix.com/blog/2017/07/06/one-weird-trick/

In [1]:
import json
from jinja2 import Template, FileSystemLoader, Environment
import sqlparse
import string

file_loader = FileSystemLoader('templates')
env = Environment(loader=file_loader)

In [2]:
column_name_dict = [{"col_name": "height",
                "fill_na": True,
                "na_value": 70},
              {"col_name": "is_male",
                "fill_na":False,
                "na_value": 0.5},
             {"col_name": "weight",
              "fill_na": True,
               "na_value": 150},
             {"col_name": "age"},
             {"col_name": "eye_color"},  
]

In [3]:
template = env.get_template('fill_na_columns.sql')
query = template.render(columns=column_name_dict)

In [4]:
pretty_sql = sqlparse.format(query,
                reindent=True, 
                keyword_case='upper', 
                encoding='utf-8')

print(pretty_sql)

SELECT id,
       CASE
           WHEN height IS NULL THEN 70
           ELSE height
       END AS height ,
       is_male ,
       CASE
           WHEN weight IS NULL THEN 150
           ELSE weight
       END AS weight ,
       age ,
       eye_color
FROM TABLE